*, *::after, *::before 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter";
    line-height: 1.5;
    font-weight: 400;
}

:root {
    --color-primary:  #4b2b97;
}

html 
{
    font-size: 16px;
}

a
{
    text-decoration: none;
}

li 
{
    list-style: none;
}

button, input, textarea
{
    border: 0;
    outline: none;
}

.container 
{
    padding: 0 1rem;
}