.banner 
{
    background-image: linear-gradient(60deg, #4b2b97c7 100%, transparent), url("/src/assets/book.jpg");
    height: 20rem;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.banner h1 
{
    width: 80%;
    color: #fff;
    font-size: 1.75rem;
    font-weight: 500;
}

.knowMoreTitle 
{
    font-size: 1.25rem;
    text-align: left;
    margin: 1rem 0;
}

.hTitle1
{
    font-size: 1.25rem;
    text-align: left;
}

.services 
{
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
    justify-content: space-between;
}

.itemService 
{
    min-width: 10.3rem;
    min-height: 5rem;
    border-radius: .25rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.itemService h2 
{
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
}

.itemService span 
{
    font-size: 12px;
    font-weight: 500;
    color: #ffffff9f;
}

.services > .itemService::before
{
    --widthIcon: 3rem;
    content: "";
    position: absolute;
    width: var(--widthIcon);
    height: var(--widthIcon);
    background-size: var(--widthIcon);
    background-repeat: no-repeat;
    transform: rotate(315deg);
    right: -.5rem;
    bottom: -.5rem;
    opacity: .2;
    
}

.services > .itemService:nth-child(1) 
{
    background: linear-gradient(100deg, #8d114f, #8d114fdc);
}



.services > .itemService:nth-child(2) 
{
    background: linear-gradient(100deg, #146988, #146988dc);
}

.services > .itemService:nth-child(3) 
{
    background: linear-gradient(100deg, #333d83, #333d83dc);
}

.services > .itemService:nth-child(4) 
{
    background: linear-gradient(100deg, #953b21, #953b21dc);
}

.services > .itemService:nth-child(1)::before {
    background-image: url("/src/assets/book-bookmark.svg");
}

.services > .itemService:nth-child(2)::before {
    background-image: url("/src/assets/book-open-text.svg");
}

.services > .itemService:nth-child(3)::before {
    background-image: url("/src/assets/note.svg");
}

.services > .itemService:nth-child(4)::before {
    background-image: url("/src/assets/book-solid-full.svg");
}

.articleCard 
{
    display: flex;
    gap: .5rem
}

.articleImg
{
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.articleImg::before {
    content: "";
    display: grid;
    place-items: center; 
    background: linear-gradient(100deg, #000);
    position: absolute;
    inset: 0;
    
}

.articleImg.sports::before {
    
    background: linear-gradient(100deg, #c95a15, #c95a15dc);
    content: url("/src/assets/atom-fill.svg");
}

.articleImg.health::before {
    background: linear-gradient(100deg, #0ea9e1, #0ea9e1dc);
    content: url("/src/assets/heart-fill.svg");
}

.articleImg.technology::before {
    background: linear-gradient(100deg, #213d86, #213d86dc);
    content: url("/src/assets/brain-fill.svg");
}

.articleImg.nature::before {
    background: linear-gradient(100deg, #086b6b, #086b6bdc);
    content: url("/src/assets/brain-fill.svg");
}

.articleImg.quotes::before {
    background: linear-gradient(100deg, #213d86, #213d86dc);
    content: url("/src/assets/quotes-thin.svg");
}

.articleTitle
{
    font-size: 1.125rem;
    font-weight: 500;
}

.articleText
{
    font-size: .875rem;
}

.boxReviewArticle
{
    flex: 1 1 0%;
}