.boxFooter
{
    background-color: var(--color-primary);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footerLogo
{
    display: flex;
    flex-direction: column;
}

.footerLogo > * {
    color: #fff
}

.footerContainer 
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.footerContainer > div 
{
    margin-bottom: 1.5rem;
}



.footerTitle
{
    font-size: .875rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: .5rem;
}


.footerLinks li a 
{
    font-size: 0.8125rem;
    color: #ffffffc7;
}

.footerContact a
{
    color: #ffffffc7;
    font-size: .875rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.phoneEmail 
{
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.footerFormInput
{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.footerFormInput input 
{
    padding: 1rem;
    border-radius: 4px;
    text-align: center;
}

.footerFormInput button 
{
    padding: 1rem;
    border-radius: 4px;
    font-size: .875rem;
    background-color: #000;
    color: #fff;
}

.boxNewletter
{
    margin-top: 1rem;
}