.headerTop
{
    position: sticky;
    top: 0;
    z-index: 999;
}

.headerContainer 
{
    background-color: #4b2b97;
    height: 3.5625rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoMenu {
    background-color: #ffffff27;
    padding: 2px;
    display: grid;
    place-items: center;
    border-radius: 2px;
}